# Compiled class files
*.class

# Maven directories
target/
*.log
*.jar
*.war

# Eclipse/IntelliJ IDEA project files
.classpath
.project
.settings/
.idea/
*.iml
*.ipr

# Operating system files
.DS_Store
Thumbs.db
